[submodule "git-demo"]
	path = git-demo
	url = git@github.com:ilyin0/git-demo.git
[submodule "git-demo-new"]
	path = git-demo-new
	url = git@github.com:ilyin0/git-demo-new.git
[submodule "maven-demo"]
	path = maven-demo
	url = git@github.com:ilyin0/maven-demo.git
[submodule "webdriverBSUTAT"]
	path = webdriverBSUTAT
	url = git@github.com:ilyin0/webdriverBSUTAT.git
